@model IEnumerable<FixersIndexServiceModel>

@{
    ViewData["Title"] = "Home Page";
    var fixers = Model.ToList();
}

@if (!fixers.Any())
{
    <div class="mt-4 p-5 bg-light">
        <h1 class="display-4">Welcome to the best place fixing your problems, whatever they may be!</h1>
        <p class="lead">
            There are no fixers in the system currently available
            so why don't you become one?
        </p>
        <hr class="my-4">
        <p class="lead">
            @if (this.User.Identity.IsAuthenticated)
            {
                <a asp-controller="Fixers" asp-action="Become" class="btn btn-primary btn-lg"
           role="button">Become a fixer</a>
            }
        </p>
    </div>
}

<div class="mb-5"></div>
<div class="row justify-content-center align-items-center">
<h2 class="text-center display-2">Our top fixers</h2>
    <hr>
   </div>
<div id="Home" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @for (int i = 0; i < fixers.Count(); i++)
        {
            var fixer = fixers[i];
            <div class="d-flex justify-content-center carousel-item @(i == 0 ? "active" : string.Empty)">
                <img src="/uploads/@fixer.ImagePath" class="d-flex w-50"
                  alt="@fixer.Email">
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        <a class="btn btn-primary" asp-controller="Fixers" asp-action="Details"
                       asp-route-id="@fixer.Id"> @fixer.Email</a>
                    </h5>
                </div>
            </div>
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true">Next</span>
    </a>
</div>
