@model IEnumerable<FixersIndexServiceModel>

@{
    ViewData["Title"] = "Home Page";
    var fixers = Model.ToList();
}

@if (!fixers.Any())
{
    <div class="mt-4 p-5 bg-light">
        <h1 class="display-4">Welcome to the best place fixing your problems, whatever they may be!</h1>
        <p class="lead">
            There are no fixers in the system currently available
            so why don't you become one?
        </p>
        <hr class="my-4">
        <p class="lead">
            @if (this.User.Identity.IsAuthenticated)
            {
                <a asp-controller="Fixers" asp-action="Become" class="btn btn-primary btn-lg"
           role="button">Become a fixer</a>
            }
        </p>
    </div>
}

<div class="mb-5"></div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @for (int i = 0; i < fixers.Count(); i++)
        {
            var fixer = fixers[i];
            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <img class="d-block w-100" style="height:500px"
                 src="/uploads/@fixer.ImagePath" alt="@fixer.Email">
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        <a class="btn btn-primary" asp-controller="Fixers" asp-action="Details"
                       asp-route-id="@fixer.Id"> @fixer.Email</a>
                    </h5>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
