@model AnnouncementFormModel

@{
	ViewBag.Title = "Add a Problem";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_AnnouncementFormPartial" model="@Model" />

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}